{%  extends 'base.html.twig' %}
{% block title %} login {% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/pages/uploads.css') }}"/>
{% endblock %}
{% block body %}
	<div class="main-container">
<h1>here will be upload page...</h1>
	</div>
{% endblock %}
