@import "../theme";

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.upload-container{
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
  max-width: 370px;
  width: 85%;
  background: $lightGrey;

  & form {
	& > div
	{
	  display: flex;
	  justify-content: stretch;
	  padding-top: 5px;
	  padding-bottom: 5px;

	  & > span{
		flex: 1;
	  }
	  & > input{
		flex: 2;
	  }
	}

	& > input[type="submit"]{
	  padding: 5px;
	  margin-top: 10px;
	  border-radius: 8px;
	  border: 1px;
	  cursor: pointer;

	  &:hover{
		color: #ffffff;
	  }
	}
  }
}